.container {
  width: 100%;
  margin: 16px 16px;
  padding: 32px 16px 16px;
  /* border: gray solid 2px;
  border-radius: 20px; */
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 16px;
}

.pageHeader {
  padding-bottom: 32px;
  margin-bottom: 64px;
  text-align: center;
  border-bottom: gray solid 1px;
}

.section {
  margin-bottom: 64px;
  border-bottom: gray solid 1px;
}

.sectionName {
  margin-bottom: 16px;
  text-align: center;
}

.subsection {
  margin-bottom: 32px;
}

.subsectionName {
  margin-bottom: 16px;
}

.headCard,
.card1,
.card2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  border: gray solid 1px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 100%;
  height: auto;
}

.name {
  width: fit-content;
  padding: 32px;
}

.name p {
  text-indent: 0;
}

.name .para {
  text-indent: 20px;
}

@media (min-width: 721px) {
  .container {
    max-width: 690px;
    margin-right: auto;
    margin-left: auto;
  }

  .photo {
    width: 270px;
  }

  .headCard {
    flex-direction: row;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  .card1 {
    flex-direction: row;
    width: fit-content;
    margin-right: auto;
  }
  .card2 {
    flex-direction: row-reverse;
    width: fit-content;
    margin-left: auto;
  }

  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 961px) {
  .container {
    max-width: 930px;
    margin-right: auto;
    margin-left: auto;
  }

  .photo {
    width: 300px;
  }

  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }
}

@media (min-width: 1201px) {
  .container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

  .photo {
    width: 360px;
  }

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 22px;
  }
}
