.menu {
  max-width: 100%;
}

.container {
  width: 100%;

  padding: 0 16px;
  margin: 20px auto 20px auto;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 16px;
  margin: 0;
}

.pageHeader {
  padding-bottom: 32px;

  text-align: center;
  border-bottom: #2752ae solid 2px;
}

.section {
  margin-bottom: 64px;
  border-bottom: #2752ae solid 1px;
}

.sectionName {
  text-align: left;
}

.subsection {
  margin-bottom: 32px;
}

.subsectionName {
  text-align: center;
}

.textIndent {
  text-indent: 32px;
}

.tel {
  text-decoration: none;
}

.sectionGrid,
.sectionGridTwo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.headCard,
.docCard,
.nursesCard,
.interiorCard {
  width: 100%;
  border: #2752ae solid 1px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(39, 82, 174, 0.2);
  box-shadow: 4px 4px 8px rgba(39, 82, 174, 0.8);
}

.headCard {
  margin-bottom: 32px;
}

.headPhoto,
.docPhoto,
.nursesPhoto,
.interiorPhoto {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.headTextData,
.docTextData {
  padding: 16px;
}

.nursesTextData,
.textInterior {
  padding: 16px;
  text-align: center;
}

.headName,
.docName {
  text-align: center;
  margin-bottom: 8px;
}

@media (min-width: 721px) and (max-width: 960px) {
  .container {
    max-width: 720px;
  }

  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }

  .headCard {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .sectionGrid,
  .sectionGridTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 961px) and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }

  .headCard {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }

  .sectionGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }

  .sectionGridTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1201px) {
  .container {
    width: 1200px;
    margin: 20px auto 20px auto;
  }

  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 22px;
  }

  .headCard {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }

  .sectionGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }

  .sectionGridTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
  }
}
